In [1]:
## Example: Space Shuttle Launch Data ----

In [2]:
launch <- read.csv("challenger.csv")

In [3]:
launch

   distress_ct temperature field_check_pressure flight_num
1  0           66           50                   1
2  1           70           50                   2
3  0           69           50                   3
4  0           68           50                   4
5  0           67           50                   5
6  0           72           50                   6
7  0           73          100                   7
8  0           70          100                   8
9  1           57          200                   9
10 1           63          200                  10
11 1           70          200                  11
12 0           78          200                  12
13 0           67          200                  13
14 2           53          200                  14
15 0           67          200                  15
16 0           75          200                  16
17 0           70          200                  17
18 0           81          200                  18
19 0           76          200                  19
20 0           79          200                  20
21 2           75          200                  21
22 0           76          200                  22
23 1           58          200                  23

In [4]:
# estimate beta manually

In [ ]:
b <- cov(launch$temperature, launch$distress_ct) / var(launch$temperature)