In [1]:
#mutate() is used to add new column

In [3]:
library(dplyr)
library(nycflights13)

In [4]:
overall_delay <- mutate(flights, overall_delay=arr_delay-dep_delay)

In [5]:
head(overall_delay)#notice column overall_delay added at the end of the columns

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour           overall_delay
1 2013-01-01 05:00:00   9
2 2013-01-01 05:00:00  16
3 2013-01-01 05:00:00  31
4 2013-01-01 05:00:00 -17
5 2013-01-01 06:00:00 -19
6 2013-01-01 05:00:00  16

In [6]:
#transmute() function is used to show only new column

In [ ]:
#timestamp 4:46:04