In [4]:
library(dplyr)
library(nycflights13)

In [6]:
arrange1 <- arrange(flights, year, dep_time)

In [7]:
head(arrange1)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1    13  1        2249            72       108      2357
2 2013  1    31  1        2100           181       124      2225
3 2013 11    13  1        2359             2       442       440
4 2013 12    16  1        2359             2       447       437
5 2013 12    20  1        2359             2       430       440
6 2013 12    26  1        2359             2       437       440
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  71       B6        22   N206JB  JFK    SYR   41       209     22   49
2 179       WN       530   N550WN  LGA    MDW  127       725     21    0
3   2       B6      1503   N627JB  JFK    SJU  194      1598     23   59
4  10       B6       839   N607JB  JFK    BQN  202      1576     23   59
5 -10       B6      1503   N608JB  JFK    SJU  182      1598     23   59
6  -3       B6      1503   N527JB  JFK    SJU  197      1598     23   59
  time_hour
1 2013-01-13 22:00:00
2 2013-01-31 21:00:00
3 2013-11-13 23:00:00
4 2013-12-16 23:00:00
5 2013-12-20 23:00:00
6 2013-12-26 23:00:00

In [7]:
#usage of pipe opertor %>%

In [8]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [11]:
#nesting

In [10]:
result1 <- arrange(sample_n(filter(mtcars, mpg>20), size = 5), desc(mpg))#explained in the breakdown

In [11]:
result1

              mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Fiat 128      32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Lotus Europa  30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Toyota Corona 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Volvo 142E    21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
Mazda RX4 Wag 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4

In [ ]:
#break down of the above nested line of code

In [23]:
filt1 <- filter(mtcars, mpg>20)#we filter mtcars with mpg of more than 20

In [24]:
sample1 <- sample_n(filt1, size = 5)#we want a randow sample of 5

In [26]:
arrange1 <- arrange(sample1, desc(mpg))#we arrange that sample of 5 with mpg in descending order

In [27]:
arrange1

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4

In [30]:
#same using pipe operator

In [31]:
pipe1 <- mtcars %>% filter(mpg>20) %>% sample_n(size=5) %>% arrange(desc(mpg))

In [32]:
pipe1

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1

In [33]:
#select

In [35]:
df_mpg_hp_cyl <- mtcars %>% select (mpg, hp, cyl)

In [37]:
head(df_mpg_hp_cyl)

                  mpg  hp  cyl
Mazda RX4         21.0 110 6
Mazda RX4 Wag     21.0 110 6
Datsun 710        22.8  93 4
Hornet 4 Drive    21.4 110 6
Hornet Sportabout 18.7 175 8
Valiant           18.1 105 6