In [1]:
#Summarise() used to find descriptive statistics

In [5]:
library(dplyr)
library(nycflights13)
summarise(flights, avg_air_time=mean(air_time, na.rm=T))

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  avg_air_time
1 150.6865

In [7]:

summarise(flights, total_air_time=sum(air_time, na.rm=T))#sum finds the total number of air time

  total_air_time
1 49326610

In [8]:
summarise(flights, standarddeviation_air_time=sd(air_time, na.rm=T))#standard deviation

  standarddeviation_air_time
1 93.6883

In [9]:
summarise(flights, standarddeviation_air_time=sd(air_time, na.rm=T))#standard deviation

  standarddeviation_air_time
1 93.6883