In [1]:
50//3

16

In [2]:
50/3

16.666666666666668

In [9]:
myint = 10
myfloat = float(myint)
myfloat
type (myfloat)

float

In [8]:
type (myint)

int

In [11]:
print (50**5)

312500000

In [13]:
x = 50
y = 10
print ("{0} * {1} = {2}".format (x, y, x*y))

50 * 10 = 500

In [14]:
print ("Hello", "World", sep="----------")

Hello----------World

In [17]:
name = "MUTHONI"
print ("Hello %s" % name)

Hello MUTHONI

In [18]:
age = 18

In [20]:
print ("Hello %s ! are you %d years old " % (name, age))

Hello MUTHONI ! are you 18 years old

In [21]:
50%7

1

In [22]:
9%2

1

In [ ]:
year = float (input("Enter the year"))
if year%4 == 0:
    print ("thats a leap year")

In [16]:
year = int (input("enter year "))
day = int (input ("enter day "))
month = int (input ("enter month "))
if year%4 == 0:
    print("that a leap year ")
else:
    print ("thats not a leap year ")

if year == 1994:
    print ("thats my birthday year")
else:
    print ("thats not my birthday year")
    
if day == 27 and month == 4:
    print ("thats my birthday")
else:
    print ("its not yet my birthday")

enter year 2021
enter day 27
enter month 4
thats not a leap year
thats not my birthday year
thats my birthday

In [1]:
pow (2, 10)

1024

In [3]:
pow (50, 5)

312500000

In [4]:
len ("joseph wanyoike njoroge")

23

In [25]:
max1 = [10,99, 444,65, 89878]
max(max1)

89878

In [24]:
import math
number = float (input ("Enter a Number "))
square_root = math.sqrt(number)
print ("the Square root is %f " % square_root)

Enter a Number 63
the Square root is 7.937254

In [28]:
a = float(input ("Enter a "))
b = float(input ("Enter b "))
c = float(input ("Enter c "))
d = float(input ("Enter d "))
e = float(input ("Enter e "))

print ("The max value is: ", max(a,b,c,d,e))

Enter a 52
Enter b 45
Enter c 78
Enter d 966
Enter e 35
The max value is:  966.0

In [9]:
name = "joseph wanyoike njoroge"
profession = "FINANCIAL ANALYST"
wife = "    hottensia njeri    "
print (name.capitalize())
print (name.upper())
print (profession.lower())

Joseph wanyoike njoroge
JOSEPH WANYOIKE NJOROGE
financial analyst

In [5]:
print (name[0])
print (profession[2])

j
N

In [10]:
print (name[0:3])
print (wife.strip())

jos
hottensia njeri

In [13]:
print (name.islower())
print (name.isupper())
print (profession.isupper())
print (profession.islower())
print (wife.replace("i", "y"))

True
False
True
False
    hottensya njery

In [16]:
sentence = "hello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmer"
print (sentence.split (', '))

['hello', 'my', 'name', 'is', 'joseph', 'wanyoike', 'njoroge', 'and', 'am', 'a', 'programmer']

In [18]:
print (sentence * 10)

hello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmerhello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmerhello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmerhello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmerhello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmerhello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmerhello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmerhello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmerhello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmerhello, my, name, is, joseph, wanyoike, njoroge, and, am, a, programmer

In [19]:
10 > 6

True

In [21]:
10 != 2

True

In [25]:
a = 10
b = 20
c = 30
d = 10

a < b

True

In [26]:
a == d

True

In [29]:
x = "joseph"
y = "anyoike031"
z = "JOROGE"

In [31]:
x.islower()

True

In [33]:
y.isalpha()

False

In [35]:
y.isalnum()

True

In [1]:
#12 july 2021

In [2]:
#boolean, comparison, operators and logical operators in python

In [1]:
'hello' == 'hello'

True

In [2]:
14 > 54

False

In [4]:
'hello'.islower()

True

In [5]:
'hello123'.isalnum()

True

In [9]:
x = 89
y = 50
z = 15

x > y and y < z

False

In [8]:
y > z or y > x

True

In [10]:
not x <y

True

In [11]:
#conditional statements if...else statements

In [15]:
year = int(input("year"))
if year%4 == 0:
    print("LEAP YEAR")
else:
    print("NOT LEAP YEAR")

year2021
NOT LEAP YEAR

In [32]:
number = float(input("number"))
if number < 9 and number > 0:
    print ("Number is in ones")
elif number > 10 and number < 99:
    print ("THAT NUMBER IS A TENS NUMBER")
elif number >=100 and number <= 999:
    print ("THAT NUMBER IS IN HUNDREDS ")
elif number >=1000 and number <= 1000000:
    print ("THAT NUMBER IS IN THOUSANDS")
else:
    print ("NEGATIVE NUMBER or more than a million")
print ("NUMBER ENTERED IS: ", number)

number5
Number is in ones
NUMBER ENTERED IS:  5.0

In [33]:
#Nested if statments

In [40]:
number2 = float(input("ENTER NUMBER"))
if number2 < 0:
    print("THE NUMBER NEGATIVE")
else:
    print("THE NUMBER IS A POSITIVE NUMBER")
    if (number2 % 2) == 0:
        print("THE NUMBER IS AN EVEN NUMBER")
    else:
        print("THE NUMBER IS AN ODD NUMBER")

ENTER NUMBER7
THE NUMBER IS A POSITIVE NUMBER
THE NUMBER IS AN ODD NUMBER

In [1]:
#python lists

In [2]:
list1 = [10,20,30,40,50,60,70,80,90,100]

In [3]:
print(list1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [4]:
list1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [5]:
list1[5]

60

In [ ]:
#lists can  contain different types of values

In [6]:
list2 = ["hottensia", "CIFA", 2021, 10.5, 89, "joseph", [1,2,3,4,5]]

In [7]:
list2[3]

10.5

In [8]:
list2[6][2]

3

In [9]:
len(list1)

10

In [10]:
len(list2)

7

In [11]:
list1.insert(11, 110)

In [12]:
list1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [13]:
list2.insert(1, "loves wanyoike")

In [14]:
list2

['hottensia',
 'loves wanyoike',
 'CIFA',
 2021,
 10.5,
 89,
 'joseph',
 [1, 2, 3, 4, 5]]

In [15]:
list2.insert(8, "to be removed")

In [16]:
list2

['hottensia',
 'loves wanyoike',
 'CIFA',
 2021,
 10.5,
 89,
 'joseph',
 [1, 2, 3, 4, 5],
 'to be removed']

In [17]:
list2.remove("to be removed")

In [18]:
list2

['hottensia',
 'loves wanyoike',
 'CIFA',
 2021,
 10.5,
 89,
 'joseph',
 [1, 2, 3, 4, 5]]

In [19]:
list2.insert(8, "to be popped")

In [20]:
list2

['hottensia',
 'loves wanyoike',
 'CIFA',
 2021,
 10.5,
 89,
 'joseph',
 [1, 2, 3, 4, 5],
 'to be popped']

In [21]:
list2.pop()

'to be popped'

In [22]:
list2

['hottensia',
 'loves wanyoike',
 'CIFA',
 2021,
 10.5,
 89,
 'joseph',
 [1, 2, 3, 4, 5]]

In [27]:
list3 = [1,2,3,4,5,6,7,8,9]
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
del list3 #deletes the whole list

In [29]:
list3

NameError: name 'list3' is not defined

In [30]:
list4 = [89,45,32,15,97,32,12,35,68,12,15,15,78,15]

In [31]:
list4

[89, 45, 32, 15, 97, 32, 12, 35, 68, 12, 15, 15, 78, 15]

In [32]:
list5 = list4.copy()

In [33]:
list5

[89, 45, 32, 15, 97, 32, 12, 35, 68, 12, 15, 15, 78, 15]

In [34]:
list4

[89, 45, 32, 15, 97, 32, 12, 35, 68, 12, 15, 15, 78, 15]

In [35]:
list4.clear()

In [36]:
list4

[]

In [37]:
list5.sort()

In [38]:
list5

[12, 12, 15, 15, 15, 15, 32, 32, 35, 45, 68, 78, 89, 97]

In [39]:
list5.append(2021)

In [40]:
list5

[12, 12, 15, 15, 15, 15, 32, 32, 35, 45, 68, 78, 89, 97, 2021]

In [41]:
list5.reverse()

In [42]:
list5

[2021, 97, 89, 78, 68, 45, 35, 32, 32, 15, 15, 15, 15, 12, 12]

In [43]:
list5.count(12)

2

In [44]:
list5.count(15)

4

In [45]:
#tuples

In [46]:
tuple1 = (10,20,30,40,50,60,70,80,90,100)

In [47]:
tuple1

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [66]:
max(tuple1)

100

In [67]:
min(tuple1)

10

In [48]:
tuple1[5]

60

In [49]:
len(tuple1)

10

In [50]:
tuple1.count(70)

1

In [51]:
tuple2 = ("hottensia", 22, "wanyoike", 27)

In [52]:
tuple2

('hottensia', 22, 'wanyoike', 27)

In [53]:
tuple3 = (tuple1+tuple2)#concatenate

In [54]:
tuple3

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 'hottensia', 22, 'wanyoike', 27)

In [65]:
max(tuple3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [63]:
tuple4 = ("i will get a job soon in Jesus Mighty name  ")*10

In [64]:
tuple4

'i will get a job soon in Jesus Mighty name  i will get a job soon in Jesus Mighty name  i will get a job soon in Jesus Mighty name  i will get a job soon in Jesus Mighty name  i will get a job soon in Jesus Mighty name  i will get a job soon in Jesus Mighty name  i will get a job soon in Jesus Mighty name  i will get a job soon in Jesus Mighty name  i will get a job soon in Jesus Mighty name  i will get a job soon in Jesus Mighty name  '

In [1]:
#Sets

In [6]:
set1 = {10,20,30,40,50,60,70,80,90,100,100,100}

In [10]:
set1 #stores unique values only # no duplicate for example 100 is printed once in answer

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110}

In [8]:
set1.add(110)

In [9]:
set1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110}

In [11]:
set1.update([120,130,140,150,160,170]) #update -> adds multiple values

In [12]:
set1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170}

In [13]:
set1.remove(170)

In [14]:
set1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160}

In [15]:
set1.remove(200)# if you try to remove a value which is not there it throws an error

KeyError: 200

In [16]:
set1.discard(160) #removes 160

In [17]:
set1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150}

In [18]:
set1.discard(200)#discard doesnt throw an error even if the value to be discarded is not there

In [19]:
set1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150}

In [20]:
set1.pop()#removes any random element from the set

130

In [21]:
set2 = {"hottensia", "weds", "joseph"}

In [22]:
set2

{'hottensia', 'joseph', 'weds'}

In [23]:
set2.clear()#clears everything

In [24]:
set2

set()

In [25]:
set3 = {1,2,3}
set3

{1, 2, 3}

In [26]:
del set3 #deletes the set

In [27]:
set3

NameError: name 'set3' is not defined

In [28]:
#create a set using a set constructor

In [29]:
set4 = set(("i", "love", "programming"))

In [30]:
set4

{'i', 'love', 'programming'}

In [31]:
#you can also convert a list to set

In [32]:
set5 = set([10,20,30,40,50,60,70]) #[] is used in creating a list

In [33]:
set5

{10, 20, 30, 40, 50, 60, 70}

In [34]:
set6 = {11,12,13,14,15,16}

In [35]:
set7 = set([14,15,16,17,18,19])

In [ ]:
#union

In [36]:
set6 | set7   # | is the union symbol, union is all elements in the 2 sets

{11, 12, 13, 14, 15, 16, 17, 18, 19}

In [37]:
set6.union(set7) # als can use union function

{11, 12, 13, 14, 15, 16, 17, 18, 19}

In [38]:
# intersection -> displays elements in both the sets

In [39]:
set6 & set7 # & is the intersection sign

{14, 15, 16}

In [40]:
set6.intersection(set7) #intersection function

{14, 15, 16}

In [41]:
#Difference displa elements in one set but not in the other

In [42]:
set6 - set7 #elements in set6 and not in set 7

{11, 12, 13}

In [43]:
set7 - set6 #elements in set7 and not in set6

{17, 18, 19}

In [44]:
set6.difference(set7) #difference function

{11, 12, 13}

In [45]:
set7.difference(set6)

{17, 18, 19}

In [46]:
#Symmetric difference elements unique in both sets

In [47]:
set6 ^ set7

{11, 12, 13, 17, 18, 19}

In [48]:
set7 ^ set6 #both of them shows elements unique to both the sets

{11, 12, 13, 17, 18, 19}

In [49]:
set6.symmetric_difference(set7) #symmetric_difference function

{11, 12, 13, 17, 18, 19}

In [50]:
set7.symmetric_difference(set6)

{11, 12, 13, 17, 18, 19}

In [52]:
set6[1] #trying to access element in index 1 but whoops sets dont support indexing

TypeError: 'set' object is not subscriptable

In [ ]:
#Python dictionaries